@font-face {
  font-family: 'icons-edit';
  src:
    url('fonts/icons-edit.ttf?c1j9kv') format('truetype'),
    url('fonts/icons-edit.woff?c1j9kv') format('woff'),
    url('fonts/icons-edit.svg?c1j9kv#icons-edit') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-edit"], [class*=" icon-edit"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons-edit' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit-arrow-right:before {
  content: "\e901";
}
.icon-edit-download:before {
  content: "\e900";
}