@media (max-width: 992px){
.courses-container {
        padding-left: 3%;
}
.persons-grid{
    padding-left: 60px;
    padding-right: 60px;
}

.alumni-slider .slider-img > div {
    height: 40vw !important;
}


#info_bar {
    width: 100%;
}
.formacao-info-bar {
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: transparent;
    height: auto;
    padding: 0px 4%;
}
.formacao-info-bar .cols {
    width: 50%;
    background-color: white;
    margin-bottom: 10px;
    height: 80px;
}
.formacao-info-bar .col-btn {
    background-color: #ffdd06;
}
.formacao-info-bar .col-btn {
    width: 50%;
}
#info_bar.sticky_info .formacao-info-bar {
    padding:0
}
.info_bar_container.sticky_info .formacao-info-bar .cols {
        width: 50% !important;
    margin-bottom: 0;
}
.info_bar_container.sticky_info .col-btn {
     width: 50%;
}
.formacao-info-bar .cols .drop-inner {
    z-index: 2;
}
.formacao-info-bar .cols:nth-child(1) {
    border-bottom: 1px solid #f0f0f0;
}

.visao-geral .certificacao div:first-child{
   justify-content: flex-start;
}

.box-circle {
    margin: 0 auto;
}

.contact-form .text-left {
    padding-left: 0;
}

.contact-form .text-left {
    text-align: center;
}
.contact-form  .col-center .center-cell {
    height: auto;
    display: block;
}

.related-card{
    margin-bottom: 30px;
}


/* add with page class*/
.bleeded:before {
    width: 100%;
}
}

@media (max-width: 768px){
html.mobile .navigation__primary___3I64N:after {
    top: 115px;
}
html.mobile .navigation__secondary___13rln:after {
    top: 115px;
}
.primaryNav___sqMHp {
    padding: 125px 30px 30px 33px;
}
.content__inner___1liSK {
    padding: 125px 35px 60px;
}


.swiper-alumni .swiper-slide {
    width: 100% !important;
}

.courses-container {
    padding-left: 0px;
}
.persons-grid{
    padding-left: 0;
    padding-right: 0;
}






.formacao-template-default .head h1 {
    font-size: 36px;

}

.sobre-curso {
    padding: 0;
}
section.programa h1{
    font-size: 36px;
}
section.course-faq h1{
    font-size: 36px;
}

.info-form {
    padding: 0;
}

.row-faq [class^="col-"]:nth-child(odd) {
    padding-right: 0; 
}

section.course-faq .row-faq {
    margin: 50px 0;
    margin-right: -15px;
    margin-left: -15px;
}

.contact-form {
    padding:45px 0;
    background-color: #FFFFFF;
}
.box-circle {
    width: 150px;
    height: 150px;

}



/* add with page class*/
.section-title {
   padding-right: 0;

}

/* add with page class*/
.text-block-container:not(:last-child) {
    margin-bottom: 40px;
    padding-bottom: 20px;
}

/* add with page class*/
.info-banner {
    margin-top: 25px;
}

/* add with page class*/
.info-form {
    padding: 0;
    padding: 50px 0px;
}

/* add with page class*/
a.btn {
    padding: 19px 31px;
    width: 100%;
}
/* add with page class*/
.btn-fix.col-center,
.center-cell{
    display: block !important;
}


}

