.single-formacao #page.curso section.programa .btn {
    background-color: #ffdd06;
    color: #000000;
    border-color: #ffdd06;
}
.accordion-container .accordion-title {
    padding: 0;
    margin-bottom: 60px;
}
.accordion-container .accordion-title::after {
    margin-top: 10px;
    top: auto;
}

@media (max-width: 992px){
.courses-container {
        padding-left: 3%;
}
.persons-grid{
    padding-left: 60px;
    padding-right: 60px;
}

.alumni-slider .slider-img > div {
    height: 40vw !important;
}

.logos-grid {
    margin-left: calc(8.33333333% - 15px);
}





#info_bar {
    width: 100%;
}
.formacao-info-bar {
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: transparent;
    height: auto;
    padding: 0px 4%;
}
.formacao-info-bar .cols {
    width: 50%;
    background-color: white;
    margin-bottom: 10px;
    height: 80px;
}
.formacao-info-bar .col-btn {
    background-color: #ffdd06;
}
.formacao-info-bar .col-btn {
    width: 50%;
}
#info_bar.sticky_info .formacao-info-bar {
    padding:0
}
.info_bar_container.sticky_info .formacao-info-bar .cols {
        width: 50% !important;
    margin-bottom: 0;
}
.info_bar_container.sticky_info .col-btn {
     width: 50%;
}
.formacao-info-bar .cols .drop-inner {
    z-index: 2;
}
.formacao-info-bar .cols:nth-child(1) {
    border-bottom: 1px solid #f0f0f0;
}

.visao-geral .certificacao div:first-child{
   justify-content: flex-start;
}

.box-circle {
    margin: 0 auto;
}

.contact-form .text-left {
    padding-left: 0;
}

.contact-form .text-left {
    text-align: center;
}
.contact-form  .col-center .center-cell {
    height: auto;
    display: block;
}

.related-card{
    margin-bottom: 30px;
}

.formacao-info {
    margin-top: 25px;
}

.formacao-info label {
    margin-top: 25px;
}

section.visao-geral h4 {
    margin-top: 0;
}

.single-formacao section.programa h1 {
   font-size: 70px;
}

.text-block-container:not(:last-child) {
    margin-bottom: 60px;
    margin-top: 50px;
    padding-bottom: 0px;
}

.single-formacao .logos-grid {
    margin-left: -15px;
}

.single-formacao .info-form {
    padding: 75px 0px 75px 35px;
}

.single-formacao .info-banner .col-center {
    height: auto;

}

.course-faq h1{
font-size: 60px;
}

.row-faq [class^="col-"]:nth-child(even) {
    padding-left: 15px;
}

 .contact-form h3 {
    margin-top: 40px;
    margin-bottom: 10px;
}

.related-card-inner {
height: auto;
    min-height: 200px;

}


/* add with page class*/
.bleeded:before {
    width: 100%;
}



.logos-adapt-center [class^="col-"] {
    height: auto;
    margin-bottom: 30px;
}
.logos-adapt-center [class^="col-"]:not(:last-child) {
    border-right: 0px solid #242424;
}
.logos-adapt-center [class^="col-"]:nth-child(odd) {
    border-right: 1px solid #242424;
}



}

@media (max-width: 768px){



html.mobile .navigation__primary___3I64N:after {
    top: 115px;
}
html.mobile .navigation__secondary___13rln:after {
    top: 115px;
}
.primaryNav___sqMHp {
    padding: 125px 30px 30px 33px;
}
.content__inner___1liSK {
    padding: 125px 35px 60px;
}

.formacao-template-default .head, .single-eventos .head {
    padding-top: 100px;
}

.formacao-template-default .head h1 {
    font-size: 40px;
    line-height: 45px;
    letter-spacing: -1.33px
}


.page-template-page-home section .text-muted {
    margin-top: 30px;
}

.formacao-info [class^="col-"]:nth-child(-n+3) {
    margin-right: 0%;
}
.row.certificacao [class^="col-"]:nth-child(2) {
    padding-left:0;
}
.single-formacao .info-form {
    padding: 75px 0px 75px 0px;
}
.formacao-info .value {
    font-size: 16px;
}

.formacao-info label {
    font-size: 12px;
}

.sobre-curso [class^="col-"] {
    padding: 35px;
}
.sobre-curso h3 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing:-0.63px ;
}

section h2.intro {
padding-right: 0; 
margin-bottom: 30px;
}

.swiper-boxes {

    margin-left: 0;
}
.hero p {
    margin-top: 25px;
}

.img__wipe__container {
    margin-bottom: 55px;
}

.logos-grid {
      margin-left: -15px;
}

.courses-container {
       margin-top: 30px;
}

.about p:first-child{
margin-bottom: 20px;
}


.swiper-alumni {
    width: 95vw;
}
.swiper-alumni .swiper-slide {
    width: 100% !important;
}

.courses-container {
    padding-left: 0px;
}
.persons-grid{
    padding-left: 0;
    padding-right: 0;
}






.formacao-template-default .head h1 {
    font-size: 36px;

}

.sobre-curso {
    padding: 0;
}
section.programa h1{
    font-size: 36px;
}
section.course-faq h1{
    font-size: 36px;
}

.info-form {
    padding: 0;
}

.row-faq [class^="col-"]:nth-child(odd) {
    padding-right: 0; 
}

section.course-faq .row-faq {
    margin: 50px 0;
    margin-right: -15px;
    margin-left: -15px;
}

.contact-form {
    padding:45px 0;
    background-color: #FFFFFF;
}
.box-circle {
    width: 150px;
    height: 150px;

}



/* add with page class*/
.section-title {
   padding-right: 0;

}

/* add with page class*/
.text-block-container:not(:last-child) {
    margin-bottom: 40px;
    padding-bottom: 20px;
}

/* add with page class*/
.info-banner {
    margin-top: 25px;
}

/* add with page class*/
.info-form {
    padding: 0;
    padding: 50px 0px;
}

/* add with page class*/
a.btn {
    padding: 19px 31px;
    width: 100%;
}
/* add with page class*/
.btn-fix.col-center,
.center-cell{
    display: block !important;
}

.logos-adapt-center {
    margin-top: 70px;
    margin-bottom: 70px;
}

.logos-adapt-center [class^="col-"] {
    height: auto;
    margin-bottom: 30px;
}
.logos-adapt-center [class^="col-"]:not(:last-child) {
    border-right: 0px solid #242424;
}
.logos-adapt-center [class^="col-"]:nth-child(odd) {
    border-right: 1px solid #242424;
}
.ferramentas .img-icon img {
    width: 30px;
}

.row.certificacao h4{
    margin-top: 50px;
        font-size: 20px;
}

.single-formacao #page.curso .accordion-container .accordion-title::after {
    margin-top: 15px;
}
.accordion-container .accordion-title {
    padding-right: 20px;
}
.accordion-content{
    margin-bottom: 30px;
}
.contact-form .text-left {
    padding-left: 15px;
}

/* Footer */

.footer-menu .locations.show-mobile div {
    margin-bottom: 30px;
}
}

